.App {
  text-align: center;
}

.Background {
  align-items: center;
  background-image: url("img/bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.InfoCard {
  /* background-color: #ffffffdb; */
  border-radius: 5px;
  color: #fff;
  padding: 0 15px;
  /* background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px); */
}

/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(27, 27, 27, 0.747);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
  .backdrop-blur {
    background-color: rgba(0, 0, 0, .38);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

.InfoCard-Content {
  margin-top: -50px;
}

.InfoCard-Content > div {
}

.ProfilePictureContainer {
  border-radius: 50%;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: -50px;
  width: 100px;
}

.ProfilePicture {
  display: inline;
  height: 130%;
  margin: 0 auto;
  width: auto;
}

.info-link {
}

.Credentials {
  display: flex;
  flex-flow: column;
  font-weight: 600;
}

.Bio {
  display: flex;
  flex-flow: column;
  line-height: 1.5em;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  width: 32vw;
}

.Education {
  display: flex;
  flex-flow: column;
}

.Name {
  font-size: 2.3em;
  font-weight: 700;
}

.Position {
  font-size: 1.3em;
}

.Links {
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.Social-Link {
  text-decoration: none;
  color: #fff;
}

a.Social-Link:hover {
  color: blueviolet;
}

.content--width {
  width: 34vw;
  margin: auto;
}

.content--padding {
  padding: 0 10px 10px 10px;
}

.bio-padding {
  padding-bottom: 5px;
}

.bold-600 {
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 480px) {
  .InfoCard {
    width: 88vw;
  }

  .content--width {
    width: 75vw;
  }
  .Bio {
    width: 100%;
  }
}
